# Question - 1

In [ ]:
x=int(input('first number is :'))
y=int(input('second number is :'))
print('x power y:',x**y)


# Question - 2

In [36]:
list= input('input element of the list').split()
print(list)

input element of the list100 20 53 98 774 66 44 74 21 6 45 99 63 21 47
['100', '20', '53', '98', '774', '66', '44', '74', '21', '6', '45', '99', '63', '21', '47']

In [37]:
# convert elements of list from string to int
list_int=[int(i) for i in list]
list_int

[100, 20, 53, 98, 774, 66, 44, 74, 21, 6, 45, 99, 63, 21, 47]

In [38]:
# check if number divided by 3 
div3=[i  for i in list_int  if i%3 == 0]
div3

[774, 66, 21, 6, 45, 99, 63, 21]